*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color:#F7F7F7;
}

/*global values has to be added */


.fixed-header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    display: inline-block;
}

.logo {
    border-radius: 50%;
    height: 27px;
    width: 27px;
    box-shadow: inset 0px 0px 0px 8px rgb(255, 255, 255);   
    margin: 27px;
    display: inline-block;
    background-color: transparent;
 }

.nav-box {
    padding: 0;
    width: 100%;
    height: 0;  
}

ul li{
    display: inline-block;
    margin-right: 40px;
    background-color: transparent;
    font-family: 'brandon Grotesque';
}

ul {
    list-style: none;
    background-color:transparent;
    position: fixed;
    top: 27px;
    right: 27px;
}

a {
    text-decoration: none;
    size: 12px;
    background-color: transparent;
    letter-spacing: 1.4px;
    line-height: 18px;
    color: white;
}

/* ???????*/

.slider {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 45px;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider-title h1 {
    size: 30px;
    text-transform: uppercase;
    letter-spacing: 9px;
    line-height: 44px;
    color: white;
    position: absolute;
    left: 180px;
    bottom: 45px;
    z-index: 99;
    background-color: transparent;
}


/* here starts CSS for white blocks */
.descriptions {
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
    height: 372px;
    background-color: white;
    position: relative;
}



.large-description {
    width: 655px;
    background-color:white;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 90px;
    left: 90px;
}

.large-description h3 {
    background-color: white;
    font-family: 'brandon Grotesque';
    font-weight: bold;
    size: 25px;
    line-height: 30px;
    letter-spacing: 5px;
    color: #262626;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.large-description p {
    font-family: Tisa OT;
    font-weight: bold;
    size: 18px;
    line-height: 33.3px;
    color: #434343;
    background-color: white;

}

.small-description {
    width: 216px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 90px;
    right: 90px;
}

.small-description h3 {
    background-color: white;
    font-family: 'brandon Grotesque';
    font-weight: bold;
    size: 25px;
    line-height: 30px;
    letter-spacing: 5px;
    color: #262626;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.small-description p {
    font-family: Tisa OT;
    font-weight: bold;
    size: 18px;
    line-height: 33.3px;
    color: #434343;
    background-color: white;
}
.article-section{
   max-width: 1260px;
   width: 100%;
   margin: auto;
   padding-bottom: 120px;
   padding-left: 90px;
}
.button-box{
    width: 79px;
    display: inline-block;
    margin-bottom: 72px;
}
.button-box1{
    width: 87.33px;
    background-color: #0865DE;
    display: inline-block;
    height: 34px;
    margin-left: 30px;
    margin-bottom: 72px;
    padding-top: 10px;
}
.button-box1 h6{
    background-color: transparent;
    text-align: center;
    color: white;
    font-family: 'brandon Grotesque';
    
}
.article-title h3{
   width: 616px;
   margin-bottom: 72px;
   size: 32.7px;
   color: #262626;
   font-family: 'brandon Grotesque';
   text-transform: uppercase;
}
.article-title p{
    width: 1016px;
    line-height: 44px;
}
.bottom-links p{
    size: 14px;
    display: inline-block;
    margin-right: 90px;
    font-family: 'brandon Grotesque';
}
.bottom-links a{
    size: 14px;
    display: inline-block;
    margin-right: 90px;
    color: #262626;
}
.bottom-links{
    margin-top: 60px;

}